<header class="hero">
  <div class="wrap wrap-center">
    <div class="c-full c-md-half c-center">
      <a href="/">
        <img class="logo" src="/img/logo-white.svg" /><span id="logo-replace"></span>
        <h1>Chris Matthias</h1>
      </a>
      <div class="tagline">
        <h3 class="title">Front-End Web Developer</h3>
        <p>I build the part of websites that users interact with-- the experience layer.</p>
        <p>Let me build yours.</p>
      </div>
      <a class="down-button" href="#footer" data-uk-smooth-scroll data-anim-inhale>Down</a>
      
    </div>
  </div>


</header>